<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.QReadingQuestionMapper">
  <resultMap id="BaseResultMap" type="com.auto.bean.QReadingQuestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="right_answer" jdbcType="VARCHAR" property="rightAnswer" />
    <result column="vtype" jdbcType="INTEGER" property="vtype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.auto.bean.QReadingQuestion">
    <result column="question" jdbcType="LONGVARCHAR" property="question" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, subject_id, order_num, right_answer, vtype
  </sql>
  <sql id="Blob_Column_List">
    question
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.auto.bean.QReadingQuestionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from q_reading_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.auto.bean.QReadingQuestionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from q_reading_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from q_reading_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from q_reading_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.auto.bean.QReadingQuestionExample">
    delete from q_reading_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.auto.bean.QReadingQuestion">
    insert into q_reading_question (id, subject_id, order_num, 
      right_answer, vtype, question
      )
    values (#{id,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, 
      #{rightAnswer,jdbcType=VARCHAR}, #{vtype,jdbcType=INTEGER}, #{question,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.auto.bean.QReadingQuestion">
    insert into q_reading_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="rightAnswer != null">
        right_answer,
      </if>
      <if test="vtype != null">
        vtype,
      </if>
      <if test="question != null">
        question,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="rightAnswer != null">
        #{rightAnswer,jdbcType=VARCHAR},
      </if>
      <if test="vtype != null">
        #{vtype,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        #{question,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.auto.bean.QReadingQuestionExample" resultType="java.lang.Long">
    select count(*) from q_reading_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update q_reading_question
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null">
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.rightAnswer != null">
        right_answer = #{record.rightAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.vtype != null">
        vtype = #{record.vtype,jdbcType=INTEGER},
      </if>
      <if test="record.question != null">
        question = #{record.question,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update q_reading_question
    set id = #{record.id,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      right_answer = #{record.rightAnswer,jdbcType=VARCHAR},
      vtype = #{record.vtype,jdbcType=INTEGER},
      question = #{record.question,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update q_reading_question
    set id = #{record.id,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      right_answer = #{record.rightAnswer,jdbcType=VARCHAR},
      vtype = #{record.vtype,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.auto.bean.QReadingQuestion">
    update q_reading_question
    <set>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="rightAnswer != null">
        right_answer = #{rightAnswer,jdbcType=VARCHAR},
      </if>
      <if test="vtype != null">
        vtype = #{vtype,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.auto.bean.QReadingQuestion">
    update q_reading_question
    set subject_id = #{subjectId,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      right_answer = #{rightAnswer,jdbcType=VARCHAR},
      vtype = #{vtype,jdbcType=INTEGER},
      question = #{question,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auto.bean.QReadingQuestion">
    update q_reading_question
    set subject_id = #{subjectId,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      right_answer = #{rightAnswer,jdbcType=VARCHAR},
      vtype = #{vtype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>