.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/target/*
/target/
GeneratorForProject/src/main/resources/generatorConfig.xml
GeneratorForProject/src/main/resources/dbconfig.properties

